# RewriteEngine On
# RewriteCond %{ENV:HTTPS} !on
# RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# RewriteEngine On
# RewriteCond %{HTTP_HOST} ^www.ilayamusic.ru
# RewriteRule (.*) https://ilayamusic.ru/$1 [R=301,L]

ErrorDocument 403 /
ErrorDocument 404 /
ErrorDocument 500 /

AddDefaultCharset utf-8